In [ ]:
# Create a set from a list of numbers and print it.#

list = [1,2,3,4,5,6,7,8]
new = set(list)
print(new)

{1, 2, 3, 4, 5, 6, 7, 8}

In [2]:
# Add an element to a set and remove another.#

set = {1, 2, 3, 4, 5, 6, 7, 8}
set.remove(6)
print(set)

{1, 2, 3, 4, 5, 7, 8}

In [8]:
# Add an element to a set and remove another.#

set = {1, 2, 3, 4, 5, 6, 7, 8}
set.add(9)
print(set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [9]:
# Perform union, intersection, difference, and symmetric difference on two sets.#

set1 = {1,2,3,4,5,6}
set2 = {5,6,7,8,9}
print(set1 | set2) #union

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [10]:
# Perform union, intersection, difference, and symmetric difference on two sets.#

set1 = {1,2,3,4,5,6}
set2 = {5,6,7,8,9}
print(set1 - set2) #difference

{1, 2, 3, 4}

In [11]:
# Perform union, intersection, difference, and symmetric difference on two sets.#

set1 = {1,2,3,4,5,6}
set2 = {5,6,7,8,9}
print(set1 & set2) #intersection

{5, 6}

In [12]:
# Perform union, intersection, difference, and symmetric difference on two sets.#

set1 = {1,2,3,4,5,6}
set2 = {5,6,7,8,9}
print(set1 ^ set2) #symmetric difference

{1, 2, 3, 4, 7, 8, 9}

In [13]:
# Check if a set is a subset of another set.#

set_x = {1,2,3,4,5}
set_max = {1,2,3,4,5,6,7,8,9}
print(set_x.issubset(set_max))

True

In [16]:
# Remove all elements from a set.#

x = {1,2,3,4,5,6,7,8,9}
print(x)
x.clear()
print(x)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
set()

In [17]:
# Create a set of strings and find the longest string in the set.#

string = {"apple", "banana", "cherry", "date", "strawberry"}
longest = max(string)
print(longest)

strawberry

In [4]:
# Given a list of numbers, create a set of all unique numbers and then convert it back to a list.#

list_a = [1,2,3,4,5,6,6,7,7,8,9]
a = set(list_a)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [5]:
b = list(a)
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
# Find the common elements between two sets without using the intersection method.#

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
common_elements = set()
for element in set1:
    if element in set2:
        common_elements.add(element)

print(common_elements)

{4, 5}

In [7]:
# Remove duplicates from a list using a set and preserve the original order #

d = [1,2,3,4,5,6,6,7,7,8,9]
e = set(d)
print(e)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [8]:
# Check if two sets have no elements in common. #

f = {1,2,3,4}
g = {5,6,7,8}
print(f & g)

set()

In [9]:
# Create a tuple of mixed data types and print each element.#

tuple_1 = (1,2, "banana", 3.14)
print(tuple_1)

(1, 2, 'banana', 3.14)

In [ ]:
# Access the last element of a tuple. #

tuple_1 = (1,2,3, "banana","papaya","grapes", 3.14, 2.8, 4)
last = tuple_1[-1]
print(last)

4

In [11]:
# Convert a tuple into a list, modify the list, and convert back to a tuple.#

tuple_1 = (1,2,3, "banana","papaya","grapes", 3.14, 2.8, 4)
my_list = list(tuple_1)
print(my_list)

[1, 2, 3, 'banana', 'papaya', 'grapes', 3.14, 2.8, 4]

In [12]:
my_list = [1,2,3, "banana","papaya", 2.8, 4]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 'banana', 'papaya', 2.8, 4)

In [ ]:
# Unpack a tuple into variables. #

fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
banana

In [16]:
# Find the index of an element in a tuple.#

fruits = ("apple", "banana", "cherry")
index_of_cherry = fruits.index("cherry")
print(index_of_cherry)

2

In [19]:
# Count the occurrences of an element in a tuple.#

no = (1,2,2,3,4,2,5,6,2)
count = no.count(2)
print(count)

4

In [21]:
# Create a tuple of numbers and find the maximum and minimum.#

no = (12,10,19,44,69,82,57,31)
maximum = max(no)
minimum = min(no)
print(maximum)
print(minimum)

82
10

In [22]:
# Concatenate two tuples.#

tuple_1 = ("apple", "banana", "cherry")
tuple_2 = (2,10,18)
tuple_3 = tuple_1 + tuple_2
print(tuple_3)

('apple', 'banana', 'cherry', 2, 10, 18)

In [24]:
#Check if an element exists in a tuple.#

tuple_1 = ('apple', 'banana', 'cherry', 2, 10, 18)

if 'banana' in tuple_1:
  print("Yes, 'banana' is in the tuple.")
else:
  print("No, 'banana' is not in the tuple.")

Yes, 'banana' is in the tuple.

In [32]:
# Create a tuple of tuples (nested) and access an inner element.#

nested = (('apple', 'banana', 'orange',23,38),('watermelon', 'cherry', 2, 10, 18))
element_1 = nested[1]
element_2 = nested[1]
print(element_1)
print(element_2)

('watermelon', 'cherry', 2, 10, 18)
('watermelon', 'cherry', 2, 10, 18)